.HomeContact {
	min-height: 474px;
	background-color: #ccc;
	padding-top: 65px;
}
.HomeContact-title {
	font-size: 26px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	margin: 0 0 27px 200px;
}
.HomeContact form {
	display: flex;
	flex-flow: row wrap;
	width: 538px;
	margin-left: 191px;
}
.HomeContact form :not(:last-of-type) input, .HomeContact form select {
	width: 251px;
	height: 40px;
	margin: 9px;
	padding-left: 40px;
}
.HomeContact form textarea {
	margin: 9px 0 0 9px;
	width: 521px;
	height: 84px;
	padding-left: 40px;
	padding-top: 14px;
}
.HomeContact form input[type=submit] {
	background-color: #2aa438;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	margin: 35px 0 0 10px;
    padding: 16px 56px;
    border: none;
}

@media screen and (max-width: 776px){
	.HomeContact-title {
		margin: 0 0 27px 0px;
		text-align: center;
		font-size: 20px;
	}
  	.HomeContact form{
   		margin: 0 auto;
  }
}
@media screen and (max-width: 590px) {
	.HomeContact form input,
	.HomeContact form select {
		width: 170px;
	}
	.HomeContact form textarea {
		width: 440px;
	}
}