footer {
	display: flex;
	align-items: center;
	min-height: 209px;
	background-color: #15521c;
	color: #fff;
}
.CompanyMenu a, .MoreMenu a, .FollowMenu a {
	color: #fff;
	font-size: 12px;
}
.CompanyMenu li, .MoreMenu li, .FollowMenu li {
	margin-bottom: 7px;
}
.FooterContent {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 1166px;
	margin: 0 68px 0 51px;
}
.FooterTitle {
	font-size: 30px;
	max-width: 160px;
	text-transform: uppercase;
}
.MenuTitle {
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 18px;
}
.FooterCopyright {
	font-size: 12px;
}
ul.CompanyMenu, ul.MoreMenu {
	opacity: 0.7;
}

@media screen and (max-width: 870px){
	.CompanyNavigation,
	.MoreNavigation {
		display: none;
	}
	.FooterTitle {
		color: #fbb82a;
	}
}
@media screen and (max-width: 630px){
	.FooterContent {
		margin: 0 50px;
	}
	.FooterCopyright {
		display: none;
	}
}