/* -------------------pre settings ------------------- */
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: "Fira Sans", sans-serif;
	font-weight: normal;
}
body {
	max-width: 1280px;
	margin: 0 auto;
}
/* -------------------pre settings ------------------- */

.HomeIntro {
	min-height: 660px;
	
}
.HomeIntro-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 22px;
}
.IntroLogo {
	margin-top: 16px;
}
.IntroNav {
	display: flex;
	justify-content: flex-end;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	padding: 26px 0 25px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	width: 100%;
	max-width: 929px;
    margin: 0 26px 0 34px;
}
.IntroNav li {
	display: inline;
	margin-left: 26px;
}
.IntroNav a, a.IntroPrice-btn {
	color: #fff;
	text-transform: uppercase;
}
/* ----------- burger ----------- */
.menu-xl {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ccc;
  height: 100%;
  width: 100%;
  z-index: 10;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Ubuntu-Regular',sans-serif;
  font-size: 3rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu-xl .navigation-close {
  position: absolute;
  top: 5rem;
  right: 5rem;
  cursor: pointer;
}
.menu-xl ul {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.menu-xl ul li {
  margin: 20px 0;
}
.menu-xl ul li a {
  display: block;
  color: #a8353a;
  text-transform: uppercase;
}
.menu-xl-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.more {
  -ms-flex-preferred-size: 345px;
      flex-basis: 345px;
}

@media screen and (max-width: 925px){
  .IntroNav{
    display: none;
  }
  .HomeIntro-main{
    justify-content: space-between;
  }
  /*---Burger---*/
  .HomeIntro-main .nav-link {
    display: block;
    width: 40px;
    height: 40px;
    margin: auto 20px;
    position: relative;
  }
  .HomeIntro-main .nav-line {
    display: block;
    background-color: #fff;
    width: 30px;
    height: 2px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -10px;
  }
  .HomeIntro-main .nav-line:before {
    content: '';
    display: block;
    background-color: #fff;
    width: 30px;
    height: 2px;
    position: relative;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .HomeIntro-main .nav-line:after {
    content: '';
    display: block;
    background-color: #fff;
    width: 30px;
    height: 2px;
    position: relative;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}
/* ----------- burger ------------ */
.IntroPrice-btn {
	border: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	padding: 11px 15px 10px 21px;
	white-space: nowrap;
}
.HomeIntro-content {
	width: 450px;
	height: 160px;
	/* background-color: rgb(42, 164, 56); */
	position: relative;
	top: 267px;
	left: 0;
	padding: 60px 0 0px 55px;
}
.IntroContent-title {
	color: rgb(251, 184, 42);
	font-size: 30px;
	font-weight: 500;
	line-height: 16px;
	text-transform: uppercase;
	margin-bottom: 19px;
}
.IntroContent-info {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}