.HomeStats {
	display: flex;
	justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-flow: row wrap;
    width: 100%;
}
.HomeStats-item {
	display: flex;
	flex: 1 1 33.3%;
    flex-flow: row wrap;
    align-items: center;
	justify-content: center;
	border: 1px solid rgb(221, 221, 221);
	height: 238px;
}
.StatsItem-content {
	display: flex;
}
.StatsItem-content span{
	color: rgb(42, 164, 56);
	font-size: 64px;
	font-weight: 500;
	line-height: 47px;
}
.StatsItemContent-text {
	display: flex;
	align-content: center;
	flex-direction: column;
	padding-left: 11px;
}
.StatsItemContent-text h3 {
	color: rgb(34, 34, 34);
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.StatsItemContent-text p {
	max-width: 92px;
	color: rgb(34, 34, 34);
	font-size: 12px;
	font-weight: 300;
}
a.StatsContent-button {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 17px 63px;
	background-color: rgb(42, 164, 56);
	white-space: nowrap;
}

@media screen and (max-width: 688px){
  a.StatsContent-button {
  	padding: 14px 40px;
  }
}